
:root {
  --text-color-1: #1e5606;
  --text-color-2: #293e23;

  --background-color: #bef1a7;

  --font-family: "Caveat", sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


#page {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--text-color-1);
  border-radius: 24px;
  margin: 48px auto;
  text-align: center;
}

.history {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: larger;
  margin-bottom: 3rem;
  border-radius: 16px;
  padding: 1.5rem;
}

.history strong {
  padding-top: 1rem;
}

.history img {
  margin: 1.5rem 0;
  border-radius: 28px;
  width: 100%;
}


.locaisparasevizitar {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
  font-family: var(--font-family);
  margin-top: 1rem;
  padding: 2rem 1rem;
  border-radius: 16px;
}

figcaption {
  padding-top: 1rem;
}

.locaisparasevizitar img {
  border-radius: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-top: 2rem;

  grid-template-areas:
    "estacao veropeso"
    "santuario parquez"
    "bosque utinga"
    "museu teatro";
}

.estacao { grid-area: estacao; }
.veropeso { grid-area: veropeso; }
.santuario { grid-area: santuario; }
.parquez { grid-area: parquez; }
.bosque { grid-area: bosque; }
.utinga { grid-area: utinga; }
.museu { grid-area: museu; }
.teatro { grid-area: teatro; }

.figure {
  border: 5px solid #4fb61b;
  border-radius: 16px;
  padding: 1.5rem;
  font-size: large;
}

#locaistitulo {
  padding-top: 1rem;
}

.divider {
  width: 100%;
  margin-top: 2rem;
  height: 1px;
  margin: 36px 0;
  background-color: #4fb61b;
}

footer {
  margin-top: 2rem;
  font-size: medium;
}

.allsections > section {
  width: 100%;
  box-sizing: border-box;
}

header {
  width: 100%;
  box-sizing: border-box;
}
